body {
    margin-top: 05%;
    text-align: center;
    background-color: #8f8b83b6;
}

h1 {
    background-color: #0c0c0cea;
    font-size: 80px;
    font-weight: bold;
    color: rgb(238, 202, 43)
}

p {  
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    font-size: 25px;
    color: #0c0c0cea;
}
#paragrafo1 {
     border-style: dotted;
}
   
span {
    background-color: #0c0c0cea;
    font-size: 30px;
    font-weight: bold;
    color: rgb(238, 202, 43)
}

#imagem-1 {
    width: 100%;
}

.Nossos-cursos {
    text-align: left;
    font-size: 15px;
    color: #0c0c0cea;
    list-style-position: inside;

}
.area1 {
    font-size: 20px;
    width: 30px
}



